h1{
    border: 2px black solid;
    background-color: aquamarine;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: auto;
    height: 50px;
}
body{
    align-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border: 5px burlywood solid;
    width: 400px;
    height: 200px;
    margin: auto;
}
.container div{
    border: 2px rgb(129, 87, 28) solid;
    width: 70px;
    height: 70px;
    margin: auto;
    align-content: center;
}
.container div button{
    border: 2px black solid;
    width: 100%;
    height: 100%;
    border-radius: 60%;
    margin: auto;

}
.pruebas{
    background-color: blue;
    border: 2px black solid;
    text-align: center;
